* {
    font-family: Arial, sans-serif;
    background-color: black;
  }
  .game {
    text-align: center;
  }
  .title_game {
    font-size: 50px;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 10%;
    color: white;
  }
  .game_description {
    font-size: 25px;
    text-align: center;
    padding-bottom: 5%;
    color: aqua;
  }
  .container {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  .card {
    padding: 3%;
    margin: 0 10px;
    background-color: black;
    text-align: center;
    border-radius: 10% 10%;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    color: white;
    border: 5px solid black;
  }
  
  .card:hover {
    border-color: aqua;
  }
  .card img {
    width: 150px;
    height: 200px;
    border-radius: 10% 5%;
    object-fit: cover;
    object-position: center;
  }
  
  .name {
    font-weight: bold;
    font-size: 25px;
    color: white;
  }
  .worth {
    margin: 0;
    color: white;
    font-size: 20px;
  }
  .buttons {
    margin-left: 44.5%;
    display: grid;
    grid-template-columns: 20%;
    grid-gap: 50%;
  }
  .buttons button {
    color: black;
    background-color: white;
    cursor: pointer;
    font-size: 25px;
    border-radius: 5px 5px;
    padding: 3%;
  }
  
  button:hover {
    background-color: aqua;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding-bottom: 2%;
    font-size: 50px;
    padding-top: 2%;
  }
  @media (max-width: 600px) {
    .buttons {
      margin-left: 28%;
      grid-template-columns: 60%;
    }
  }
  @media (max-width: 1300px) {
    .buttons {
      margin-left: 38%;
      grid-template-columns: 40%;
    }
  }
  @media (max-width: 2000px) {
    .title_game {
      padding-bottom: 3%;
      padding-top: 5%;
    }
  }
  @media (max-width: 2500px) {
    .title_game {
      padding-bottom: 3%;
      padding-top: 3%;
    }
  }
  